#about{
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    flex-direction: column;
}
.bottom{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

@media (min-width: 630px) {
    .top{
        flex-direction: row;
    }
    
}