.image-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE96C;
}

.car {
    width: 250px;
    height: auto;
    object-fit: cover;
}

#car-left{
    background: linear-gradient(to left, black 15%, transparent 87%);
    -webkit-mask-image: linear-gradient(to left, black 15%, transparent 87%);
}

#car-middle{
    width: 300px;
}

#car-right{
    /* For browsers that don't support mask-image */
    background: linear-gradient(to right, black 15%, transparent 87%);
    -webkit-mask-image: linear-gradient(to right, black 15%, transparent 87%);
}

.car-button{
    height: 48px;
    width: 48px;
    margin-left: 10px;
    margin-right: 10px;
}
.car:hover{
    opacity: 60%;
    cursor: pointer;
}
.car-button:hover{
    opacity: 60%;
    cursor: pointer;
}

@media (max-width: 900px) {
    .image-holder{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFE96C;
    }
    .car-button{
        transform: rotate(90deg);
    }
    #car-left{
        background: linear-gradient(to top, black 15%, transparent 87%);
        -webkit-mask-image: linear-gradient(to top, black 15%, transparent 87%);
    }
    #car-right{
        background: linear-gradient(to bottom, black 15%, transparent 87%);
        -webkit-mask-image: linear-gradient(to bottom, black 15%, transparent 87%);
    }
}