#home{
    padding:40px 0px 40px 0px;
}
.overview{
    text-align: center;
    background-color: rgb(255, 197, 255);
}
.overview-title{
    color: #59472B;
}
.overview-text{
    text-align: left;
    color: #8C5A11;
    font-weight: bold;
    width: 300px;
    font-size: 18px;
}

@media (min-width: 767px) {
    #home{
        display: flex;
    }
    .overview{
        width: calc(50%);
        align-content: center;
    }
    .overview-text{
        width: auto;
        text-align: center;
    }
}

.top-right{
    background-color: white;
}