#home{
    padding:40px 0px 40px 0px;
}
.overview{
    text-align: center;
    background-color: rgb(255, 197, 255);
}
.overview-title{
    color: #59472B;
}
.overview-text{
    text-align: left;
    color: #8C5A11;
    font-weight: bold;
    width: 300px;
    font-size: 18px;
}
.overview-image{
    border-radius: 5px;
    width: 100%;
    border: 4px solid #59472B;
}

@media (min-width: 480px) {
    #home{
        display: flex;
    }
    .overview{
        width: calc(50%);
        padding-left: 20px;
        padding-right: 20px;
        align-content: center;
    }
    .overview-text{
        width: auto;
    }
    .overview-image{
        width: 350px;
        height: 210px;
    }
}

.top-right{
    background-color: white;
}