.transitioning-image-container{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.transitioning-image-a {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    border-radius: 25px;
}

.transitioning-image-a:hover {
    transform: scale(1.3);
}